.card {
    background-color: $secondary-color;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212, 185, 150, .5);
    transition: .5s;
    text-align: center;
    position: relative;

    &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.8);
    }

    &__author {
        position: absolute;
        bottom: 30px;
        left: 10px;
        right: 10px;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 18px;
        font-weight: bold;
        padding: 0.5rem;
    }

    h3 {
        font-size: 17px;
        margin-bottom: 48px;
        min-height: 50px;
    }

    &__outter {
        width: 65%;
        margin: 0 auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
        grid-gap: 20px;
        box-sizing: border-box;
    }

    img {
        width: 92%;
        height: 250px;
        border-radius: 1rem 1rem 0 0;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }

    &__icons {
        display: flex;
        justify-content: space-around;
        margin-top: 6px;
        margin-bottom: 10px;

        svg {
            width: 28px;
            color: white;
            cursor: pointer;
        }
    }
}



.add-div {
    display: flex;
    justify-content: end;
    padding: 10px;

    button {
        cursor: pointer;
    }
}


#info {
    width: 12px;
}

@media screen and (max-width:$grid-breakpoints-lg) {
    .card__outter {
        width: 86%;
    }
}

@media screen and (max-width:$grid-breakpoints-md) {
    .card__outter {
        width: 80%;
    }

    .header {
        flex-direction: column;
        justify-content: center;

        &::before {
            content: none;
        }
    }

    .row1 {
        text-align: center;

        h1 {
            margin: 0;
            color: black;
        }
    }

    .row2 {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:$grid-breakpoints-sm) {
    .card__outter {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 300px;
    }


    .row1 h1 {
        font-size: 35px;
    }

    .row2 h2 {
        font-size: 2rem;
    }

    .search input {
        width: 208px;
        height: 50px;
    }

    .header {
        height: 400px;
    }
}