.card__outter {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}


.card {
    background-color: $secondary-color;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212, 185, 150, .5);
    transition: .5s;
    text-align: center;
    position: relative;

    &__author {
        position: absolute;
        bottom: 30px;
        left: 10px;
        right: 10px;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 18px;
        font-weight: bold;
        padding: 0.5rem;
    }

    h3 {
        font-size: 17px;
        margin-bottom: 48px;
        min-height: 40px;
    }
}

.card__icons {
    display: none;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);

}

.card img {
    width: 92%;
    height: 275px;
    border-radius: 1rem 1rem 0 0;
}

.card .bottom {
    display: flex;
    flex-direction: column;
}


.add-div {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.card__icons {
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    margin-bottom: 10px;

    svg {
        width: 28px;
        color: white;
    }
}

#info {
    width: 12px;
}