.details-container {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #00000097;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-inner {
    background: $secondary-color;
    width: 680px;
    height: 450px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
    color: #755139FF;

    h1 {
        font-size: 30px;
    }

    h3 {
        margin: 17px 0 10px 0;
    }

    h4 {
        margin: 20px 0;

        span {
            display: inline-block;
            margin: 0 0 0 10px;
            font-size: 20px;
        }
    }

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        outline: none;
        border: none;
        font-size: 17px;
        background-color: transparent;

        #details-close {
            width: 30px;
            height: 30px;
        }
    }

    .inner-box {
        margin-top: 90px;
        display: flex;
        justify-content: space-around;

        img {
            width: 204px;
            height: 230px;
        }
    }

    .inner-box button {
        outline: none;
        border: none;
        width: 100px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        padding: 0.3rem 0.5rem;
    }

    .description {
        margin-top: 2rem;
        text-align: justify;
        font-size: 13px;
    }
}

.info {
    width: 55%;
}

@media screen and (max-width:$grid-breakpoints-md) {
    .overlay-inner {
        background: $secondary-color;
        width: 500px;
        height: 400px;
        padding: 1rem;
        font-size: 16px;
        color: #755139FF;

        h1 {
            font-size: 25px;
        }

        h3 {
            margin: 17px 0 10px 0;
        }

        h4 {
            margin: 20px 0;

            span {
                display: inline-block;
                margin: 0 0 0 10px;
                font-size: 17px;
            }
        }

        .inner-box {
            margin-top: 60px;

            img {
                width: 177px;
                height: 216px;
            }

            button {
                width: 40px;
            }
        }

        .close #details-close {
            width: 23px;
            height: 23px;
        }
    }

    .info {
        width: 55%;
    }
}

@media screen and (max-width:$grid-breakpoints-sm) {
    .overlay-inner {
        background: $secondary-color;
        width: 300px;
        height: 570px;
        padding: 1rem;
        font-size: 16px;
        text-align: center;

        .inner-box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        h1 {
            margin-top: 10px;
        }
    }

    .info {
        width: 100%;
    }

}