* {
    box-sizing: border-box;
}



.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

$primary-color : #755139FF;
$secondary-color: #D4B996FF