.modal__outter {
    position: fixed;
    background-color: #00000097;
    width: 100vw;
    height: 100vh;
    display: none;
    inset: 0;
    z-index: 1;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.modal__inner {
    position: relative;
    padding: 30px 25px 60px 25px;
    z-index: 2;
    width: 560px;
    background-color: $secondary-color;
    text-align: center;
    display: block;
    margin: 0px auto;
    transition: all .5s ease-in-out;
    opacity: 1;
    animation: fade 2s linear;
    border-radius: 5px;
}

.radio-div {
    display: flex;

    input {
        margin: 0;
    }
}

.close-div {
    display: flex;
    justify-content: end;
    z-index: 3;
    margin-bottom: 6px;
}


.genres__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    margin: 0;
}

.red-border {
    border: 1px solid red;
}

#add-button {
    margin-top: 10px;
}

.disabled {
    display: none;
}

#edit-id {
    display: none;
}

.color__heart {
    fill: red;
}

.user-modal {
    display: none;
    position: absolute;
    text-align: center;
    top: 5%;
    right: 2%;
    width: 160px;
    background-color: $secondary-color;
    height: 68px;
    color: black;
    border-radius: 5px;

    p {
        font-size: 20px;
        margin: 8px;
    }
}