.search {
    text-align: center;

    &-outter {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
        grid-gap: 20px;
        box-sizing: border-box;
    }

    &-title {
        font-size: 31px;
        margin: 40px 0;
        color: $secondary-color;
    }

    p {
        font-size: 20px;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 18px;
        position: absolute;
        bottom: 1%;
        left: 30%;
        margin: 14px 0;
        width: 150px;
        padding: 12px 0;
    }
}